{% extends 'base.html' %}

{%block content%}

<style>
    hr.dashed {
        border-style: dashed;
        border-width: 1px;
    }
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
    a:hover {
      background-color: darksalmon;
      color: black;
    }
    .previous {
      background-color: sandybrown;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
      border-radius: 5px;
    }
    .grid-container {
      display: grid;
      grid-template-areas: "button1 button2"
                            "button3 button4"
                            "button5 button6";
      grid-gap: 5px;
      column-gap: 1px;
      justify-items: center;
    }
    .grid-item:nth-child(1){
        grid-area: button1;
    }
    .grid-item:nth-child(2){
        grid-area: button2;
    }
    .grid-item:nth-child(3){
        grid-area: button3;
    }
    .grid-item:nth-child(4){
        grid-area: button4;
    }
    .grid-item:nth-child(5){
        grid-area: button5;
    }
    .grid-item:nth-child(6){
        grid-area: button6;
    }
    .button {
        width: 500px;
        height: 250px;
        background-color: tan;
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;
        border-radius: 30px;
    }
    h1 {
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }
</style>

<h1> Which facility would you like to book? </h1>
<hr class="dashed">
<div class="grid-container">
    <div class="grid-item">
        <a href="#"><input type="button" id="LOLA" class="button" value="LOLA"></a>
    </div>
  
    <div class="grid-item">
        <a href="#"><input type="button" id="Equipment" class="button" value="Equipment"></a>
    </div>
  
    <div class="grid-item">
        <a href="#"><input type="button" id="Rooms" class="button" value="Rooms"></a>
    </div>
  
    <div class="grid-item">
        <a href="#"><input type="button" id="Studios" class="button" value="Studios"></a>
    </div>

    <div class="grid-item">
        <a href="#"><input type="button" id="Automage" class="button" value="Automage"></a>
    </div>
  </div>

<br>

<a href="{% url 'assist_home' %}" class="previous">&laquo; Back</a>
{%endblock%}