{% extends 'base.html' %}

{%block content%}

<style>
    .button-box {
      text-align: center;
      margin-top: 20px;
    }
</style>

<h1 style="font-size: 60px; color:white;"> Where would you like to go?</h1>

<div class="button-box col-lg-12 d-grid gap-2">
    <a href="#" class="btn btn-primary px-4 py-5" role="button">Library</a>
    <a href="#" class="btn btn-primary px-4 py-5" role="button">Study area</a>
    <a href="#" class="btn btn-primary px-4 py-5" role="button">Book Drop</a>
    <a href="#" class="btn btn-primary px-4 py-5" role="button">Exit</a>
</div>

<div class="button-box col-lg-12 d-grid gap-1">
    <a href="{% url 'home' %}" class="btn btn-primary" role="button" style="float: left;">Back</a>
</div>

{%endblock%}